<!-- <link rel="stylesheet" href="/public/stylesheets/style.css"> -->
<!-- The overlay -->
<div id="myNav" class="diapo">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <ul>
      <li class="btn"><a href="/hugues_capet">Hugues Capet</a></li>
      <li class="btn"><a href="/louis_ix">Louis IX</a></li>
      <li class="btn"><a href="/philippe_auguste">Philippe Auguste</a></li>
      <li class="btn"><a href="/philippe_le_bel">Philippe le Bel</a></li>
      <li class="btn"><a href="/formulaire">Formulaire</a></li>
    </ul>
  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span onclick="openNav()"><i class="fa fa-bars" id="fa-bars"></i></span>
<!-- <link rel="javascript" href="/public/javascripts/nav.js"> -->