<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Les capetiens</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="shortcut icon" type="image/png" href="./img/favicon-capetiens.png" />
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <nav>
        <% include partials/nav %>
    </nav>
    <main>
<!-- Diaporama -->
        <section class="slideshow-container">
            <!-- Images -->
            <div class="mySlides">
                <img class="medailles" src="/public/img/hugues-capet-02.jpg">
                <div class="text">Hugues Capet</div>
            </div>
            <div class="mySlides">
                <img class="medailles" src="/public/img/louis-ix-02.jpg">
                <div class="text">Louis IX</div>
            </div>
            <div class="mySlides">
                <img class="medailles" src="/public/img/philippe-auguste-02.jpg">
                <div class="text">Philippe Auguste</div>
            </div>
            <div class="mySlides">
                <img class="medailles" src="/public/img/philippe-le-bel-02.jpg">
                <div class="text">Philippe le Bel</div>
            </div>
            <!-- Boutons precedant et suivant -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a><br>
            <!-- Boutons ronds de chaque images -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </section>
        <h2>Formulaire d'adhesion</h2>
        <form class="formulaire">
            <section class="uname">
                <label for="name">Nom: </label><br>
                <input type="text" name="name" id="name">
            </section>
            <section class="ufname">
                <label for="fname">Prénom: </label><br>
                <input type="text" name="fname" id="fname">
            </section>
            <section class="ubday">
                <label for="bday">Date de naissance: </label><br>
                <input type="date" name="bday" id="bday">
            </section>
            <section class="uadress">
                <label for="name">Adresse: </label><br>
                <input type="text" name="adress" id="adress">
            </section>
            <section class="ucp">
                <label for="cp">Code postal: </label><br>
                <input type="number" name="cp" id="cp">
            </section>
            <section class="ucity">
                <label for="city">Ville: </label><br>
                <input type="text" name="city" id="city">
            </section>
            <section class="umail">
                <label for="mail">Adresse mail: </label><br>
                <input type="text" name="mail" id="mail">
            </section>
            <section class="uphone">
                <label for="phone">Numero de téléphone: </label><br>
                <input type="phone" name="phone" id="phone">
            </section>
            <input type="submit" value="adhérer">
        </form>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
<script type="text/javascript" src="/public/javascripts/double_slide.js"></script>
<script type="text/javascript" src="/public/javascripts/horloge.js"></script>
<script type="text/javascript" src="/public/javascripts/nav.js"></script>
</body>

</html>