* {
  margin:0;
  padding:0;
}

/* font */

@font-face{
  font-family: "wendell";
  src: url(Wendell_v1.ttf);
}

@font-face{
  font-family: "selectric";
  src: url(Selectric_Script.ttf)
}

/* header */

h1 {
  font-size: 4rem;
  color: rgb(94, 15, 15);
  background-image: linear-gradient(to bottom, rgba(105,60,52,0.8), rgba(0,0,0,0)90%);
  padding: 0 3rem;
  text-align: center;
  margin: 0;
  font-family: "wendell";
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(105,60,52,0.8);
}

/* nav */

nav {
  position: fixed;
}

#fa-bars{
  font-size: 4rem;
  position: fixed;
  top: 5rem;
  right: 1rem;
  cursor: pointer;
}
  
  .diapo {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

/* Position the content inside the overlay */
  .diapo-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

/* The navigation links inside the overlay */
  .diapo a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

/* When you mouse over the navigation links, change their color */
  .diapo a:hover, .diapo a:focus {
    color: #f1f1f1;
  }

/* Position the close button (top right corner) */
  .diapo .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/* main */

body {
  margin-top: 0;
  background-image:url("/public/img/background.jpg");
  background-repeat: round;
}

article {
  margin-bottom: 4rem;
  margin-top: 10rem;
}

section img {
  height: 15rem;
  width: 15rem;
  float: left;
  margin-left: 5rem;
}

h2 {
  font-family: "wendell";
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-shadow: 2px 2px 4px rgba(105,60,52,0.8);
}

h3 {
  font-family: "wendell";
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(105,60,52,0.8);
}

h4{
  font-family: "wendell";
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(105,60,52,0.8);
  text-align: left;
  margin-left: 8rem;
  margin-bottom: 2rem;
}

p {
	line-height: 1.4rem;
  text-align: justify;
  font-family: "selectric";
  font-size: 1.5rem;
  padding: 0 5rem;
  margin-bottom: 3rem;
}

section p:first-letter {
  float:left;
  font-size: 4em;
  padding: 0.2em 0.05em 0.1em 0.5em;
}

footer p{
  float: right;
  margin-right: 2rem;
  font-family:"arial";
}

footer{
  background-color: rgba(80, 79, 79, 0.5);
}

/* horloge */

#montre {
  float: right;
  margin-right: 2%;
}

#montre p {
  font-size: 3rem;
}

/* formulaire */

form {
font-family: "selectric";
padding: 2rem 5rem;
text-align: center;
}

form section {
padding: 2rem;
}

/* slideshow automatique et manuel */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
}

.mySlides {
  display: none;
}

/* Boutons précédant-suivant */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 50%;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: whitesmoke;
}

      /* Caption text */
.text {
  color: black;
  font-size: 2rem;
  /* position: absolute; */
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

      /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

      /* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@media screen and (max-height: 640px) {
  .diapo a {font-size: 20px}
  .diapo .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-height: 700px) and (max-width: 400px){
  h1{
    font-size: 3rem;
  }
  
  h3{
    font-size: 2rem;
  }
  h4{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0;
  }

  p {
  line-height: 1rem;
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  }

  #montre p {
  font-size: 1.5rem;
}

}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

      /* image */
.medailles {
  width: 60%;
  height: 30rem;
  margin-left: 20%;
  margin-right: 20%;
}